Repository sibiraj-s/pkg.json-webpack-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .gitignore, eslint --fix --ignore-path .gitignore --ext .ts

.lintstagedrc.yml:

"*.{json,md}":
  - prettier --write

"*.js":
  - eslint --fix --ignore-path .gitignore

"*.ts":
  - eslint --fix --ignore-path .gitignore --ext .ts

chore: update prettier to v2
  .lintstagedrc.yml
  .prettierrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: update LICENSE
  LICENSE
Due: none

chore: remove lint script
  package.json
Due: prettier --write

chore(packages): update devDependencies
  package-lock.json
  package.json
  src/readPkgJson.ts
Due: prettier --write, eslint --fix --ignore-path .gitignore --ext .ts

chore: use pegasus lint config
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

test: ignore build output dir
  jest.config.js
Due: eslint --fix --ignore-path .gitignore

chore(packages): update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: cleanup tests
  jest.config.js
  specs/fixtures/webpack.config.js
  specs/helpers/compile.js
  specs/helpers/getCompiler.js
  specs/plugin.spec.js
Due: eslint --fix --ignore-path .gitignore

feat: add options schema validation
  package-lock.json
  package.json
  specs/plugin-validation.spec.js
  specs/readPkg.spec.js
  src/index.ts
  src/readPkgJson.ts
  src/schema.ts
Due: prettier --write, eslint --fix --ignore-path .gitignore, eslint --fix --ignore-path .gitignore --ext .ts

chore: regenerate package-lock.json
  package-lock.json
Due: prettier --write

release: pkg.json-webpack-plugin v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: build before release
  package.json
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

chore: update schema-utils to v3
  package-lock.json
  package.json
  src/index.ts
Due: prettier --write, eslint --fix --ignore-path .gitignore --ext .ts

chore: update lodash to v4.17.20
  package-lock.json
  package.json
Due: prettier --write

chore(packages): update devDependencies
  .eslintrc.yml
  gulpfile.js
  package-lock.json
  package.json
  src/index.ts
  src/readPkgJson.ts
Due: prettier --write, eslint --fix --ignore-path .gitignore, eslint --fix --ignore-path .gitignore --ext .ts

refactor: webpack 5
  package-lock.json
  package.json
  specs/plugin.spec.js
Due: prettier --write, eslint --fix --ignore-path .gitignore

chore: drop node 8 support
  package.json
Due: prettier --write

ci: publish to npm with github-actions
  .github/workflows/npmpublish.yml
Due: none

ci: build before publish
  .github/workflows/npmpublish.yml
Due: none

release: pkg.json-webpack-plugin v2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(packages): update devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: improve test performance
  package.json
  specs/helpers/compile.js
Due: prettier --write, eslint --fix --ignore-path .gitignore

chore: update devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: setup commitlint
  .commitlintrc.yml
  .huskyrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: update package.json
  package.json
Due: prettier --write

release: pkg.json-webpack-plugin v2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: update actions/setup-node to v2
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

ci: update to node 14
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

ci: run tests for pull requests
  .github/workflows/tests.yml
Due: none

chore: update to nodejs v16/npm v7
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.yml
  package-lock.json
  package.json
Due: prettier --write

ci: cache npm dependencies
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

chore: update dependencies and devDependencies
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write
