Repository sibiraj-s/pkg.json-webpack-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .gitignore, eslint --fix --ignore-path .gitignore --ext .ts

.lintstagedrc.yml:

"*.{json,md}":
  - prettier --write

"*.js":
  - eslint --fix --ignore-path .gitignore

"*.ts":
  - eslint --fix --ignore-path .gitignore --ext .ts

chore: fix tests
  jest.config.js
  package-lock.json
  package.json
  specs/plugin-validation.spec.js
Due: prettier --write, eslint --fix --ignore-path .gitignore

ci: update workflows
  .github/workflows/tests.yml
Due: none

fix: update typings
  src/index.ts
Due: eslint --fix --ignore-path .gitignore --ext .ts

chore: remove deprecated rmdir method
  gulpfile.js
Due: eslint --fix --ignore-path .gitignore

chore: update devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: fix tests
  src/readPkgJson.ts
  tsconfig.json
Due: prettier --write, eslint --fix --ignore-path .gitignore --ext .ts

chore: update deprecated npx commands
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: update schema-utils to v4
  package-lock.json
  package.json
Due: prettier --write

test: fix jest-extended matchers
  jest.config.js
Due: eslint --fix --ignore-path .gitignore

chore: remove old release scripts
  package-lock.json
  package.json
  scripts/prepublish.js
  scripts/release.sh
Due: prettier --write, eslint --fix --ignore-path .gitignore

release: pkg.json-webpack-plugin v2.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: update devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci: update github actions to latest
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

chore: update lint-staged config
  .lintstagedrc.yml
Due: none

build(deps): update devDependencies
  package-lock.json
  package.json
Due: prettier --write

build(deps): regenerate package-lock.json
  package-lock.json
Due: prettier --write

ci: update nodejs to v18
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

build(deps): bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update LICENSE
  LICENSE
Due: none

ci: add npm package provenance
  .github/workflows/npmpublish.yml
Due: none

chore: bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: configure publint
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

refactor: update deps and typescript rewrite
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  babel.config.js
  gulpfile.js
  jest.config.js
  package-lock.json
  package.json
  specs/helpers/compile.js
  specs/helpers/compile.ts
  specs/helpers/getCompiler.ts
  specs/plugin-validation.spec.ts
  specs/plugin.spec.ts
  specs/readPkg.spec.ts
  specs/setup.js
  src/index.ts
  src/readPkgJson.ts
  tsconfig.json
  tsup.config.ts
  vite-extended.d.ts
  vitest.config.ts
Due: prettier --write, eslint --fix --ignore-path .gitignore, eslint --fix --ignore-path .gitignore --ext .ts

chore: fix husky hooks
  .husky/pre-push
Due: none

chore: bump dependencies
  package-lock.json
  package.json
  src/readPkgJson.ts
Due: prettier --write, eslint --fix --ignore-path .gitignore --ext .ts

chore: replace eslint with oxlint
  .eslintrc.yml
  .lintstagedrc.yml
  .oxlintrc.json
  package-lock.json
  package.json
  specs/fixtures/main.js
  specs/plugin-validation.spec.ts
  src/index.ts
  src/readPkgJson.ts
  vite-extended.d.ts
Due: prettier --write, eslint --fix --ignore-path .gitignore, eslint --fix --ignore-path .gitignore --ext .ts

chore: bump package lock file
  package-lock.json
Due: prettier --write

build: replace tsup with tsdown
  package-lock.json
  package.json
  tsdown.config.ts
Due: prettier --write, eslint --fix --ignore-path .gitignore --ext .ts

ci: use npm staged publishing
  .github/workflows/npmpublish.yml
Due: none
